@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin-out {
  from {
    opacity: 1;
    transform: rotate(0deg);
  }
  50% {
    opacity: 1;
    transform: rotate(-180deg) scale(1);
  }
  to {
    transform: rotate(-360deg) scale(3);
    opacity: 0;
  }
}

.text-shine {
  background-image: linear-gradient(270deg, #22d3ee 13.84%, #8b5cf6 59.7%, #22d3ee 93.89%);
  background-size: 200% 100%;
}

@keyframes text-shine {
  from {
    background-position: 150%;
  }
  to {
    background-position: -50%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes small-ping {
  75%,
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}
